<!doctype html>
<html lang="en" ng-app="hackhathon">
<head>
  <meta charset="utf-8">
  <title>Sample routing</title>
  <link href="css/app.css" rel="stylesheet">
</head>
<body ng-controller="App">
  <h1>AngularJS routing on Chrome App</h1>

  <ul class="nav">
    <li><a ng-click="history.back()">BACK</a></li>
    <li><a ng-click="history.forward()">FORWARD</a></li>
    <li><a href="#/list">list</a></li>
    <li><a href="#/detail?id=123">detail 123</a></li>
    <li><a href="#/detail?id=456">detail 456</a></li>
  </ul>

  <div ng-view class="content"></div>

  <script type="text/ng-template" id="tpl/detail.html">
    <h2>Inlined template</h2>

    id = <strong>{{id}}</strong>
  </script>

<script src="lib/angular/angular.js" type="text/javascript"></script>
<script src="js/app.js" type="text/javascript"></script>
<script src="js/storage.js" type="text/javascript"></script>
<script src="js/controllers.js" type="text/javascript"></script>


</body>
</html>
